
/* quando a tela for maior que 600px */
body {
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  
  #ft {
    width: 18%;
    
    border-radius: 50%;
  }
  
  article {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  div {
    margin-top: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  li {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* ajuste para quando a tela for menos que 600px */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  
    #ft {
      width: 150px;
    }
  
    article {
      font-size: 16px;
    }
  
    h2 {
      font-size: 18px;
    }
  }
  